body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1em;
    background: #efefef;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 20px;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 2px 5px;
}

input[type=submit],
input[type=button],
button {
    border-radius: 3px;
    background: #fefefe url(images/button-bg.png) bottom repeat-x;
    color: #0055ff;
    padding: 4px 20px;
    font-size: 1em;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: 1px;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
    color: #fff;
    font-weight: normal;
    background: #0055ff url(images/button-hover.png) bottom repeat-x;
}

.container {
    width: 900px;
    margin: 0px auto;
}

.main {
    width: 100%;
    margin: 10px auto;
    background: #fff;
    padding: 10px;
}

.loginbox {
    width: 290px;
    margin: 100px auto;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.centerheading {
    text-align: center;
    margin: 30px;
}

.ajaxloader {
    border: none !important;
    background: transparent;
    background-color: transparent !important;
}

.dialog .bd {
    text-align: center;
    line-height: 24px;
}

.error {
    color: red;
}