body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1em;
    background: #efefef;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    color: #0078ff;
    text-decoration: none;
    transition: .5s text-shadow;
}

a:hover {
    text-decoration: none;
    color: #0060cb;
    text-shadow: 1px 1px 1px #ddd;
}

input[type=text],
input[type=password],
input[type=email],
input[type=button],
input[type=submit],
button,
textarea,
select {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    line-height: 20px;
    border: 1px solid #999;
    border-radius: 2px;
    padding: 2px 5px;
    background: #fff;
}

input[type=checkbox],
input[type=radio] {
    line-height: 20px;
    border: 1px solid #999;
    border-radius: 2px;
    height: 18px;
    width: 18px;
    background: #fff;
}

input[type=submit],
input[type=button],
button {
    border-radius: 3px;
    background: #fefefe url(images/button-bg.png) bottom repeat-x;
    color: #0055ff;
    padding: 4px 20px;
    font-size: 1em;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 2px 4px;
}

input[type=submit].smallbtn,
input[type=button].smallbtn,
button.smallbtn {
    border-radius: 3px;
    background: #fefefe url(images/button-bg.png) bottom repeat-x;
    color: #0055ff;
    padding: 2px 10px;
    font-size: 1em;
    cursor: pointer;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 18px;
    margin: 0px 4px;
}

input[type=submit]:hover,
input[type=button]:hover,
button:hover {
    color: #fff;
    font-weight: normal;
    background: #0055ff url(images/button-hover.png) bottom repeat-x;
}

.container {
    width: 90%;
    margin: 0px auto;
}

.main {
    width: 100%;
    margin: 0px auto;
    background: #fff;
    padding: 10px;
}

.content {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    min-height: 400px;
}

.footer {
    width: 100%;
    margin: 0px;
    padding: 20px 10px;
    text-align: center;
    background: #999;
    color: #fff;
    font-size: 0.8em;
    min-height: 40px;
}

.loginbox {
    width: 290px;
    margin: 100px auto;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}

.loginbox input[type=text],
.loginbox input[type=password] {
    width: 182px;
}

.centerheading {
    text-align: center;
    margin: 30px;
}

.ajaxloader {
    border: none !important;
    background: transparent;
    background-color: transparent !important;
}

.prompt .bd {
    text-align: center;
    line-height: 24px;
}

.ui-widget-overlay {
    opacity: .80 !important;
    /* Make sure to change both of these, as IE only sees the second one */
    filter: Alpha(Opacity=80) !important;
    background-color: rgb(50, 50, 50) !important;
    /* This will make it darker */
}

.error {
    color: red;
}

input.error,
select.error,
textarea.error {
    color: red;
    border: 1px solid red;
    background: lightyellow;
}

nav {
    background: #333;
    padding: 2px 20px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav>ul>li>a {
    color: #bfddff !important;
    display: block;
    line-height: 2em;
    padding: 2px 20px;
    margin: 0px;
    text-decoration: none;
    transition: .5s color;
    text-decoration: none;
}

nav>ul>li>a:hover {
    background: url(images/menu-item-bg.png) bottom repeat-x;
    border-radius: 5px;
    color: #fff !important;
    text-decoration: none;
}

.logo {
    margin: 0px 5px 5px 5px;
    padding: 0px;
    float: left;
    width: 50%;
}

.logo img {
    border: none;
    width: 250px;
    height: auto;
}

.toolbox {
    float: right;
    width: 30%;
    text-align: right;
    margin: 5px 10px;
    padding: 0;
}

.clear {
    clear: both;
    padding: 0;
    margin: 0;
    line-height: 1px;
    font-size: 1px;
    height: 1px;
}

.threecol {
    float: left;
    width: 32%;
    padding: 5px;
    margin: 6px;
}

.twocol {
    float: left;
    width: 47%;
    padding: 5px;
    margin: 6px;
}

.onecol {
    float: left;
    width: 96%;
    padding: 5px;
    margin: 6px;
}

.widgetbox {
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.8em !important;
}

.sectionheading {
    font-size: 1.3em;
    font-weight: normal;
    color: #0060ab;
    margin: 2px 2px 10px 2px;
    padding: 5px;
    line-height: 1.4em;
    font-weight: bold;
    background: #eee;
}

.datagrid {
    table-layout: fixed !important;
    font-size: 0.9em !important;
}

.datagrid td {
    word-wrap: break-word !important;
    cursor: pointer;
    padding: 5px !important;
}

.DataTables_sort_wrapper {
    vertical-align: bottom !important;
}

.fullwidth {
    width: 98%;
}

input.fullwidth,
button.fullwidth,
textarea.fullwidth {
    width: 99%;
}

select.fullwidth {
    width: 100%;
}

.gridCheck {
    height: 14px !important;
    width: 14px !important;
    line-height: 16px !important;
}

.ui-dialog {
    font-size: 0.9em;
}

.CodeMirror {
    min-height: 100px;
    height: 100px;
}

.requiredStar {
    color: red;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1em;
    margin-left: 5px;
    font-family: monospace;
}